<div class="course">
    <div class="container course__container">
        <div class="course__main">
            <div class="course__information">
                <div class="card">
                    <h1 class="course__title">{{ course?.name }}</h1>

                    <span class="course__author">by {{ course?.author?.name }} {{ course?.author?.surname }}</span>

                    <div class="course__skills">
                        <div class="course__skills-text">Category:</div>

                        <span class="course__skill">{{ course?.category?.name }}</span>
                    </div>

                    <div *ngIf="course?.skills?.length" class="course__skills">
                        <div class="course__skills-text">Skills:</div>

                        <span *ngFor="let skill of course?.skills" class="course__skill">{{ skill.name }}</span>
                    </div>

                    <span class="course__level">
                        Level: <span class="level__value">{{ getLevelString(course?.level) }}</span>
                    </span>

                    <span class="course__enrolled">
                        Enrolled students: <span class="enrolled__value">{{ course?.enrolledCount }}</span>
                    </span>

                    <span class="course__rating">
                        Rating: <span class="rating__value">{{ course?.rating }} </span> <i class="fa-solid fa-star"></i>
                    </span>

                    <span *ngIf="isCourseEditButtonVisible()" class="course__status">
                        Status: <span class="status__value">{{ getStatusString(course?.status) }} </span>
                    </span>
                </div>

                <div class="card">
                    <h2 class="course__subtitle">About</h2>

                    <p class="course__description">{{ course?.about }}</p>
                </div>
            </div>

            <div class="course__modules">
                <div class="modules__header">
                    <h1 class="modules__title">Course content</h1>

                    <div class="modules__information">
                        <div class="information__item">
                            <span class="information__icon"><i class="fa-solid fa-book-open-reader"></i></span>
                            <span class="information__text">
                                {{ course?.modules?.length }} module<span *ngIf="isModulesLoaded(course?.modules) && course!.modules!.length > 1"
                                    >s</span
                                >
                            </span>
                        </div>

                        <div class="information__item">
                            <span class="information__icon"><i class="fa-solid fa-clock"></i></span>
                            <span class="information__text">{{ getTimeString(course?.estimatedTime) }}</span>
                        </div>
                    </div>
                </div>

                <div class="modules__list">
                    <div *ngFor="let module of course?.modules" class="module module_active" [ngClass]="{ module_active: module.isOpened }">
                        <button class="module__header" (click)="toggleModule(module)">
                            <h2 class="module__title">{{ module.name }}</h2>

                            <div class="module__information">
                                <div *ngIf="getModuleLessonAmount(module, 'ARTICLE')" class="information__item">
                                    <span class="information__icon"><i class="fa-solid fa-file-lines"></i></span>
                                    <span class="information__text">
                                        {{ getModuleLessonAmount(module, "ARTICLE") }}
                                        article<span *ngIf="getModuleLessonAmount(module, 'ARTICLE') > 1">s</span>
                                    </span>
                                </div>

                                <div *ngIf="getModuleLessonAmount(module, 'VIDEO')" class="information__item">
                                    <span class="information__icon"><i class="fa-solid fa-circle-play"></i></span>
                                    <span class="information__text">
                                        {{ getModuleLessonAmount(module, "VIDEO") }}
                                        video<span *ngIf="getModuleLessonAmount(module, 'VIDEO') > 1">s</span>
                                    </span>
                                </div>

                                <div *ngIf="getModuleLessonAmount(module, 'TEST')" class="information__item">
                                    <span class="information__icon"><i class="fa-solid fa-question-circle"></i></span>
                                    <span class="information__text">
                                        {{ getModuleLessonAmount(module, "TEST") }}
                                        test<span *ngIf="getModuleLessonAmount(module, 'TEST') > 1">s</span>
                                    </span>
                                </div>

                                <div class="information__item">
                                    <span class="information__icon"><i class="fa-solid fa-clock"></i></span>
                                    <span class="information__text">{{ getTimeString(module.estimatedTime) }}</span>
                                </div>
                            </div>

                            <span *ngIf="!module.isOpened" class="module__arrow"><i class="fa-solid fa-chevron-down"></i></span>
                            <span *ngIf="module.isOpened" class="module__arrow"><i class="fa-solid fa-chevron-up"></i></span>
                        </button>

                        <div class="module__content">
                            <div *ngFor="let lesson of module.lessons" class="module__lesson lesson">
                                <span *ngIf="lesson.type == 'ARTICLE'" class="lesson__icon"><i class="fa-regular fa-file-lines"></i></span>
                                <span *ngIf="lesson.type == 'VIDEO'" class="lesson__icon"><i class="fa-regular fa-circle-play"></i></span>
                                <span *ngIf="lesson.type == 'TEST'" class="lesson__icon"><i class="fa-regular fa-question-circle"></i></span>
                                <span class="lesson__title">{{ lesson.name }}</span>
                                <span class="lesson__time">{{ getTimeString(lesson.estimatedTime) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card course__aside aside">
            <div class="course__image">
                <img *ngIf="course?.avatarLink" [src]="course?.avatarLink" alt="Course icon" />
                <i *ngIf="!course?.avatarLink" class="fa-solid fa-graduation-cap"></i>
            </div>

            <h3 class="aside__title">The course includes:</h3>

            <div class="aside__features features">
                <div class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-book-open-reader"></i></span>
                    <span class="feature__name"
                        >{{ course?.modules?.length }} module<span *ngIf="course?.modules && course!.modules!.length > 1">s</span></span
                    >
                </div>

                <div class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-person-chalkboard"></i></span>
                    <span class="feature__name">{{ getTotalLessonAmount() }} lesson<span *ngIf="getTotalLessonAmount() > 1">s</span></span>
                </div>

                <div *ngIf="getTotalLessonAmount('ARTICLE')" class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-file-lines"></i></span>
                    <span class="feature__name">
                        {{ getTotalLessonAmount("ARTICLE") }}
                        article<span *ngIf="getTotalLessonAmount('ARTICLE') > 1">s</span>
                    </span>
                </div>

                <div *ngIf="getTotalLessonAmount('VIDEO')" class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-play-circle"></i></span>
                    <span class="feature__name">
                        {{ getTotalLessonAmount("VIDEO") }}
                        video<span *ngIf="getTotalLessonAmount('VIDEO') > 1">s</span>
                    </span>
                </div>

                <div *ngIf="getTotalLessonAmount('TEST')" class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-question-circle"></i></span>
                    <span class="feature__name">
                        {{ getTotalLessonAmount("TEST") }}
                        test<span *ngIf="getTotalLessonAmount('TEST') > 1">s</span>
                    </span>
                </div>

                <div class="feature">
                    <span class="feature__icon"><i class="fa-solid fa-certificate"></i></span>
                    <span class="feature__name">Certificate</span>
                </div>
            </div>

            <div class="aside__buttons">
                <button *ngIf="user?.role == 'STUDENT'" class="button button_theme_primary aside__button" (click)="enroll()">Enroll</button>

                <button
                    *ngIf="isCourseEditButtonVisible()"
                    class="button button_theme_primary-line aside__button"
                    [disabled]="!isCourseEditable"
                    [routerLink]="'/course/' + course?.id + '/edit'"
                >
                    Edit
                </button>

                <button *ngIf="isCoursePublishButtonVisible()" class="button button_theme_primary-line aside__button" (click)="publishCourse()">
                    Publish
                </button>
            </div>
        </div>
    </div>
</div>
