<div class="profile">
    <div class="container">
        <div class="pofile__card card">
            <div class="profile__avatar">
                <img *ngIf="!profilePhotoPath && !user!.avatar" class="avatar__image" src="/assets/client-avatar.png" alt="Avatar" />
                <img *ngIf="profilePhotoPath" class="avatar__image" [src]="profilePhotoPath" alt="Avatar" />
                <img *ngIf="!profilePhotoPath && user!.avatar" class="avatar__image" [src]="user!.avatar" alt="Avatar" />

                <label class="button button_full-width button_theme_secondary-line avatar__button">
                    Add photo
                    <input #profilePhotoInput class="avatar__input" type="file" accept="image/*" (change)="onPhotoUpload($event.target)" />
                </label>

                <button
                    class="button button_full-width button_theme_secondary-line avatar__button"
                    [disabled]="!profilePhotoPath"
                    (click)="removePhoto()"
                >
                    Remove photo
                </button>
            </div>

            <form class="profile__form" #form="ngForm" method="POST" action="about:blank" autocomplete="off">
                <label class="input-wrapper input-wrapper_with-label" [ngClass]="{ 'input-wrapper_error': name.invalid && !isFormValid }">
                    <span class="input-label">Name:</span>
                    <input
                        class="input"
                        [(ngModel)]="user!.name"
                        type="name"
                        name="name"
                        #name="ngModel"
                        required
                        pattern="^(?!\s*$).+"
                        placeholder="Name"
                    />
                </label>

                <label class="input-wrapper input-wrapper_with-label" [ngClass]="{ 'input-wrapper_error': surname.invalid && !isFormValid }">
                    <span class="input-label">Surname:</span>
                    <input
                        class="input"
                        [(ngModel)]="user!.surname"
                        type="surname"
                        name="surname"
                        #surname="ngModel"
                        required
                        pattern="^(?!\s*$).+"
                        placeholder="Surname"
                    />
                </label>

                <label class="input-wrapper input-wrapper_with-label" [ngClass]="{ 'input-wrapper_error': email.invalid && !isFormValid }">
                    <span class="input-label">Email:</span>
                    <input
                        class="input"
                        [(ngModel)]="user!.email"
                        type="email"
                        name="email"
                        #email="ngModel"
                        disabled
                        pattern="^(?!.*\.\.)([a-zA-Z0-9_%+\-]+(?:\.[a-zA-Z0-9_%+\-]+)*)@[a-zA-Z0-9\-]+(?:\.[a-zA-Z0-9\-]+)*\.[a-zA-Z]{2,}$"
                        placeholder="Email"
                    />
                </label>

                <div class="form__buttons">
                    <button class="button button_full-width button_theme_secondary-line form__button" (click)="openSkillsPopup()">
                        Add/edit skills
                    </button>

                    <button class="button button_full-width button_theme_secondary-line form__button" (click)="openCategoriesPopup()">
                        Add/edit categories
                    </button>
                </div>
            </form>

            <button class="button button_full-width button_theme_primary-line profile__button" type="submit" (click)="onSubmit(form)">Save</button>
        </div>

        <div class="statistics">
            <div class="statistics__item card">
                <span class="statistic__icon"><i class="fa-solid fa-image"></i></span>

                <div class="statistic__feature">
                    <span class="feature__name">Started courses:</span>
                    <span class="feature__value">0</span>
                </div>
            </div>

            <div class="statistics__item card">
                <span class="statistic__icon"><i class="fa-solid fa-image"></i></span>

                <div class="statistic__feature">
                    <span class="feature__name">Completed courses:</span>
                    <span class="feature__value">0</span>
                </div>
            </div>

            <div class="statistics__item card">
                <span class="statistic__icon"><i class="fa-solid fa-image"></i></span>

                <div class="statistic__feature">
                    <span class="feature__name">In progress:</span>
                    <span class="feature__value">0</span>
                </div>
            </div>

            <div class="statistics__item card">
                <span class="statistic__icon"><i class="fa-solid fa-image"></i></span>

                <div class="statistic__feature">
                    <span class="feature__name">Hours spent:</span>
                    <span class="feature__value">0</span>
                </div>
            </div>
        </div>

        <div class="panels">
            <h1 class="panels__title">My learning:</h1>

            <div class="panels__card card">
                <div class="panels__header">
                    <div class="panels__buttons">
                        <button class="panels__button" [ngClass]="{ panels__button_active: panelNumber == 1 }" (click)="choosePanel(1)">
                            In progress
                        </button>

                        <button class="panels__button" [ngClass]="{ panels__button_active: panelNumber == 2 }" (click)="choosePanel(2)">
                            Completed
                        </button>
                    </div>
                </div>

                <div class="panels__list">
                    <div *ngIf="panelNumber == 1" class="panel">
                        <div class="courses">
                            <div *ngFor="let course of activeCourses" class="card course">
                                <div class="course__upper">
                                    <div class="course__image">
                                        <img *ngIf="course.avatarLink" [src]="course.avatarLink" alt="Course icon" />
                                        <i *ngIf="!course.avatarLink" class="fa-solid fa-graduation-cap"></i>
                                    </div>

                                    <div class="course__information">
                                        <span class="course__name">{{ course.name }}</span>
                                        <span class="course__author">by {{ course.author.name }} {{ course.author.surname }}</span>
                                    </div>
                                </div>

                                <div class="course__lower">
                                    <div class="progress">
                                        <img
                                            class="progress__image"
                                            [src]="'/assets/animation/frame' + course.animationFrame + '.png'"
                                            alt="Progress image"
                                        />

                                        <span class="progress__value">{{ course.progress }}%</span>
                                    </div>

                                    <a class="button button_theme_primary button_full-width course__button" [routerLink]="'/course/' + course.id">
                                        View course
                                    </a>
                                </div>

                                <div *ngIf="activeCourses.length == 0" class="no-courses">
                                    <span class="no-courses__text">No courses found for this category</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="panelNumber == 2" class="panel">
                        <div class="courses">
                            <div *ngFor="let course of completedCourses" class="card course">
                                <div class="course__upper">
                                    <div class="course__image">
                                        <img *ngIf="course.avatarLink" [src]="course.avatarLink" alt="Course icon" />
                                        <i *ngIf="!course.avatarLink" class="fa-solid fa-graduation-cap"></i>
                                    </div>

                                    <div class="course__information">
                                        <span class="course__name">{{ course.name }}</span>
                                        <span class="course__author">by {{ course.author.name }} {{ course.author.surname }}</span>
                                    </div>
                                </div>

                                <div class="course__lower">
                                    <button class="button button_theme_primary button_full-width course__button">View certificate</button>
                                    <a class="button button_theme_primary button_full-width course__button" [routerLink]="'/course/' + course.id">
                                        View course
                                    </a>
                                </div>
                            </div>

                            <div *ngIf="completedCourses.length == 0" class="no-courses">
                                <span class="no-courses__text">No courses found for this category</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal skills" *ngIf="isSkillsPopupVisible">
    <div class="modal__container">
        <div class="modal__header">
            <h2 class="modal__title">Choose the skills you are interested in</h2>

            <button class="modal__close" (click)="closeSkillsPopup()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="modal__content">
            <app-skill-picker
                class="modal__skills"
                [selectedSkills]="selectedSkills"
                (selectedSkillsChange)="selectedSkills = $event"
            ></app-skill-picker>
        </div>

        <div class="modal__footer">
            <button class="button button_theme_primary-line" (click)="closeSkillsPopup()">Cancel</button>
            <button class="button button_theme_primary" (click)="saveSkills()">Save</button>
        </div>
    </div>
</div>

<div class="modal categories" *ngIf="isCategoriesPopupVisible">
    <div class="modal__container">
        <div class="modal__header">
            <h2 class="modal__title">Choose the categories you are interested in</h2>

            <button class="modal__close" (click)="closeCategoriesPopup()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="modal__content">
            <div class="categories__content">
                <div class="categories__filter">
                    <label class="input-wrapper input-wrapper_with-icon categories__filter-input">
                        <input class="input" type="text" placeholder="Search..." (input)="filterCategories($event.target)" />
                        <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </label>
                </div>

                <div class="categories__list">
                    <label *ngFor="let category of categories" class="checkbox-wrapper category">
                        <input class="checkbox" [checked]="isCategorySelected(category)" type="checkbox" (change)="selectCategory(category)" />
                        <span class="checkbox-label">{{ category.name }}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="modal__footer">
            <button class="button button_theme_primary-line" (click)="closeCategoriesPopup()">Cancel</button>
            <button class="button button_theme_primary" (click)="saveCategories()">Save</button>
        </div>
    </div>
</div>
