<div class="search">
    <div class="container search__container">
        <div class="card search__settings">
            <div class="settings__option">
                <h3 class="option__title">Categories:</h3>

                <label class="option__search input-wrapper input-wrapper_with-icon">
                    <input type="text" class="input" placeholder="Search..." (input)="filterCategories($event.target)" />
                    <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                </label>

                <div class="option__list">
                    <label *ngFor="let category of categories" class="checkbox-wrapper">
                        <input class="checkbox" type="checkbox" [checked]="isCategorySelected(category)" (change)="toggleCategory(category)" />
                        <span class="checkbox-label">{{ category.name }}</span>
                    </label>
                </div>
            </div>

            <div class="settings__option">
                <h3 class="option__title">Skills:</h3>

                <label class="option__search input-wrapper input-wrapper_with-icon">
                    <input type="text" class="input" placeholder="Search..." (input)="filterSkills($event.target)" />
                    <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                </label>

                <div #skillsList class="option__list" (scroll)="onSkillsScroll()">
                    <label *ngFor="let skill of skills" class="checkbox-wrapper">
                        <input class="checkbox" type="checkbox" [checked]="isSkillSelected(skill)" (change)="toggleSkill(skill)" />
                        <span class="checkbox-label">{{ skill.name }}</span>
                    </label>
                </div>
            </div>

            <div class="settings__option">
                <h3 class="option__title">Level:</h3>

                <div class="option__list">
                    <label class="checkbox-wrapper">
                        <input class="checkbox" type="checkbox" />
                        <span class="checkbox-label">Beginner</span>
                    </label>

                    <label class="checkbox-wrapper">
                        <input class="checkbox" type="checkbox" />
                        <span class="checkbox-label">Intermediate</span>
                    </label>

                    <label class="checkbox-wrapper">
                        <input class="checkbox" type="checkbox" />
                        <span class="checkbox-label">Expert</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card search__result">
            <div class="courses">
                <div *ngFor="let course of courses" class="card course">
                    <div class="course__image">
                        <img *ngIf="course.avatarLink" [src]="course.avatarLink" alt="Course icon" />
                        <i *ngIf="!course.avatarLink" class="fa-solid fa-graduation-cap"></i>
                    </div>

                    <div class="course__information">
                        <span class="course__name">{{ course.name }}</span>
                        <span class="course__author">by {{ course.author.name }} {{ course.author.surname }}</span>
                    </div>

                    <div class="course__information">
                        <span class="course__students">
                            Total students: <span class="course__value">{{ course.enrolledCount }}</span>
                        </span>
                        <span class="course__rating">
                            <i class="fa-solid fa-star"></i> <span class="course__value"> {{ course.rating }}</span>
                        </span>
                    </div>

                    <a class="button button_theme_primary-line button_full-width course__button" [routerLink]="'/course/' + course.id">View course</a>
                </div>
            </div>
        </div>
    </div>
</div>
